/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial;
  background: radial-gradient(circle at top, #111827, #020617);
  color: white;
  overflow-x: hidden;
}

/* HERO */
.hero {
  position: relative;
  height: 100vh;
}

.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom, rgba(0,0,0,0.4), #020617);
}

.hero-content {
  position: absolute;
  bottom: 40px;
  left: 30px;
}

.hero-content h1 {
  font-size: 50px;
}

.tagline {
  color: #cbd5f5;
}

.hero-desc {
  font-size: 14px;
}

/* MOVIES */
.movies {
  padding: 30px;
}

.netflix-row {
  display: flex;
  gap: 15px;
  overflow-x: auto;
}

.netflix-row::-webkit-scrollbar {
  display: none;
}

.netflix-card {
  min-width: 250px;
  height: 150px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  transition: 0.3s;
}

.netflix-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.netflix-card:hover {
  transform: scale(1.1);
}

.card-overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background: linear-gradient(to top, black, transparent);
  opacity: 0;
  transition: 0.3s;
}

.netflix-card:hover .card-overlay {
  opacity: 1;
}

/* VIDEO MODAL */
.video-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.95);
  justify-content: center;
  align-items: center;
}

.video-modal iframe {
  width: 80%;
  height: 60%;
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 30px;
  cursor: pointer;
}

/* ABOUT */
.about {
  padding: 50px;
}

.about-container {
  display: flex;
  gap: 20px;
  align-items: center;
}

.about img {
  width: 250px;
  border-radius: 10px;
}

/* CONTACT */
.contact {
  padding: 40px;
  text-align: center;
}

.contact input,
.contact textarea {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  background: #111827;
  border: none;
  color: white;
}

.contact button {
  padding: 10px;
  width: 100%;
  background: red;
  border: none;
  color: white;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 15px;
  color: #aaa;
}

/* MOBILE */
@media (max-width: 768px) {

  .hero {
    height: 70vh;
  }

  .hero-content h1 {
    font-size: 28px;
  }

  .netflix-card {
    min-width: 200px;
    height: 120px;
  }

  .netflix-card:hover {
    transform: none;
  }

  .video-modal iframe {
    width: 95%;
    height: 220px;
  }

  .about-container {
    flex-direction: column;
    text-align: center;
  }

}
